{% extends 'layout.html' %}

{% block content %}
    <div class="login-page clearfix">
        <div class="login-box auth0-box before">
            <br />
            <h3>Welcome to Twinu Web</h3>
            <div class="login-desc">
                <br />
                <p>ディジタルツイン</p>
                <br />
            </div>
            <div class="col-12 col-xl-4">
                <form>
                    <input type="text">

                    <input type="password">

                    
                    <input type="submit">

                </form>

            </div>
        </div>
    </div>
{% endblock content %}
