{% extends "layouts/base.html" %}

{% block title %} Usages {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
      <div class="col-12 col-xl-12">
          
          <div class="card card-body shadow-sm mb-4 mb-lg-0">
              <h2 class="h5 mb-4">
                 Twinu-web の利用方法
              </h2>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                      <div>
                          <h3 class="h6 mb-1">エージェント登録</h3>
                          <p class="small pe-4"><br />
                              メニューの "map"から登録してください。
                          </p>
                      </div>
                  </li>
                  <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                      <div>
                          <h3 class="h6 mb-1">利用状況</h3>
                          <p class="small pe-4">システム側で確認してます。</p>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
